{% extends 'base.html.twig' %}

{% block body %}

<h1> Informations visiteurs </h1>



    {{ form_start(form) }}


    {{ form_end(form) }}

    <button type="submit" class="btn btn-success"> Valider </button>



{% endblock %}



