{% extends 'base.html.twig' %}

{% block body %}

    <h1> <div style="text-align: center;"> Billeterie du Musée du Louvre </div> </h1>

    <hr>
    <p> <div style="text-align: center;"> Lorem ipsum,dolore !! </div>


{% endblock %}