{% extends 'base.html.twig' %}


{% block title %} Hello {% endblock %}


{% block body %}

    <section class="reservation">

        articles>h2{Titre de l'article}+div.metadata{Ecrit le 09/03/2020 à
        19:00 dans la catégorie Politique}+div.content>img+(p>lorem15)*2
        +a.btn.btn-primary{Lire la suite})*3


    </section>

{% endblock %}
