{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section>
	<h3 class="major">Choix des billets</h3>
		<form method="post" action="#">
			<div class="fields">
                <div class="field">
					<label for="ticketsNumber">Nombre de billets</label>
					<select name="ticketsNumber" id="ticketsNumber">
						<option value="">--Choisissez un nombre de billet</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
					</select>
				</div>
                <div class="field half">
                    <label for="visitDate">Date de la visite</label>
                    <input type="date" name="visitDate" id="visitDate" value=""/>
                </div>
				<div class="field half">
					<input type="checkbox" id="day" name="day">
					<label for="day">Journée</label>
                    <input type="checkbox" id="halfDay" name="halfDay">
                    <label for="halfDay">Demi-journée</label>
                </div>            											
				<ul class="actions">
					<input type="submit" value="Valider" class="primary" />
				</ul>
		</form>
	</section>

{% endblock %}
