{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div id="main">

	<!-- Intro -->
		<article id="intro">
			<h2 class="major">{{ nom | raw }}</h2>



		</article>				
{% endblock %}