<div class="field half">
				    <label for="firstNameUser">Nom</label>
					<input type="text" name="firstNameUser" id="firstNameUser" value=""/>
				</div>
                <div class="field half">
				    <label for="lastNameUser">Prénom</label>
					<input type="text" name="lastNameUser" id="lastNameUser" value=""/>
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" value=""/>
				</div>
                <div class="field half">
				    <label for="address">Adresse</label>
					<input type="text" name="address" id="address" value=""/>
				</div>
                <div class="field half">
				    <label for="zipCode">Code postal</label>
					<input type="text" name="zipCode" id="zipCode" value=""/>
				</div>
                <div class="field half">
				    <label for="town">Ville</label>
					<input type="text" name="town" id="town" value=""/>
				</div>
                <div class="field half">
				    <label for="country">Pays</label>
					<input type="text" name="country" id="country" value=""/>
				</div>